<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid ms-4">
        <a class="navbar-brand" href="http://localhost:3000">Panda</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="http://localhost:3000">Home</a>
                <a class="nav-link" href="http://localhost:3000/zoo">Zoo</a>
                <a class="nav-link" href="http://localhost:3000/register">Sign Up</a>
                <a class="nav-link" href="http://localhost:3000/login">Login</a>
                <a class="nav-link" href="http://localhost:3000/account">Account</a>
            </div>
        </div>
    </div>
</nav>