<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Farm</title>
</head>

<body>
    <h1>Creating a new farm</h1>
    <form action="http://localhost:3000/farms" method="post">
        <label for="name">Name: </label>
        <input type="text" name="name" placeholder="Name">
        <label for="city">City: </label>
        <input type="text" name="city" placeholder="City">
        <label for="email">Email: </label>
        <input type="email" placeholder="Email" name="email">
        <button type="submit">Submit</button>
    </form>

</body>

</html>